# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE/editor
.vscode/
.idea/
*.code-workspace

# OS
Thumbs.db
.DS_Store

# Project specific files
raindrop.http
